// SPDX-License-Identifier: GPL-2.0+ OR X11
/*
 * Copyright 2019-2020 Toradex
 */

/dts-v1/;

#include "imx8qm-apalis-v1.1.dtsi"
#include "imx8-apalis-ixora-v1.1.dtsi"
/ {
	model = "Toradex Apalis iMX8QM V1.1 on Apalis Ixora V1.1 Carrier Board";
	compatible = "toradex,apalis-imx8-v1.1-ixora-v1.1",
		     "toradex,apalis-imx8-v1.1-ixora",
		     "toradex,apalis-imx8-v1.1",
		     "toradex,apalis-imx8",
		     "fsl,imx8qm";
};

&iomuxc {
       pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_bssr>;


        apalis-imx8qm {
                pinctrl_bssr: bssrgpiogrp {
                        fsl,pins =

								//<DMA_FLEXCAN0_RX 0x104>, //BFM_CAN1_RX
								//<DMA_FLEXCAN0_TX 0x104>, //BFM_CAN1_TX
								//<SCU_DSC_BOOT_MODE2 0x104>, //BFM_CAN1_TX
								<LSIO_GPIO4_IO01 0x104>, //HORN_ENABLE
								<LSIO_GPIO4_IO02 0x104>, //LS_RELAY_CTRL
								<LSIO_GPIO5_IO19 0x104>, //PSM_MOTOR_CS
								<LSIO_GPIO3_IO26 0x104>, //HS_RELAY_CTRL
								<LSIO_GPIO5_IO20 0x104>, //PSM_ARRAY_CS
								<LSIO_GPIO5_IO21 0x104>, //PSM_BATT_CS
								<LSIO_GPIO3_IO28 0x104>, //PRE_RELAY_CTRL
								<LSIO_GPIO5_IO28 0x104>, //MOTOR_REGEN_CS
								<LSIO_GPIO5_IO29 0x104>, //MOTOR_ACCEL_CS
								<LSIO_GPIO1_IO10 0x104>, //STEERING_DISP_LED_CTRL
								<LSIO_GPIO6_IO21 0x104>, //REVERSE_CAMERA_CTRL
								<LSIO_GPIO6_IO20 0x104>, //BRAKE_SENSOR_BUFFER
								<LSIO_GPIO6_IO19 0x104>, //DEBUG_LED0_CTRL
								<LSIO_GPIO6_IO18 0x104>, //DEBUG_LED1_CTRL
								<LSIO_GPIO4_IO17 0x104>, //MOTOR_SPEED_PULSE
								<LSIO_GPIO4_IO18 0x104>, //MOTOR_LED
								<LSIO_GPIO6_IO14 0x104>, //MOTOR_MAIN
								<LSIO_GPIO6_IO13 0x104>, //MOTOR_FWD/REV
								<LSIO_GPIO6_IO12 0x104>, //MOTOR_VFM_UP
								<LSIO_GPIO6_IO10 0x104>, //MOTOR_VFM_DOWN
								<LSIO_GPIO6_IO11 0x104>, //MOTOR_PWR/ECO
								<LSIO_GPIO6_IO17 0x104>, //MOTOR_VFM_RESET
								<LSIO_GPIO4_IO16 0x104>, //MOTOR_MTA_0
								<LSIO_GPIO2_IO22 0x104>, //MOTOR_MTA_1
								<LSIO_GPIO2_IO23 0x104>, //MOTOR_MTA_2
								<LSIO_GPIO0_IO05 0x104>, //MOTOR_MTA_3
								<LSIO_GPIO0_IO01 0x104>, //VFM_MOTOR_STALL_SIG
								<LSIO_GPIO0_IO00 0x104>, //VFM_ENCODER_A_3.3V
								<LSIO_GPIO1_IO12 0x104>, //VFM_ENCODER_B_3.3V
								<LSIO_GPIO1_IO13 0x104>, //VFM_MOTOR_EN
								<LSIO_GPIO1_IO04 0x104>, //DEBUG_LED2_CTRL
								<LSIO_GPIO4_IO26 0x104>, //LV_PSM_PSU_CTRL
								<LSIO_GPIO4_IO25 0x104>, //HALL_EFFECT_A_3.3V
								<LSIO_GPIO4_IO24 0x104>, //HALL_EFFECT_B_3.3V
								<LSIO_GPIO4_IO23 0x104>, //GPS_FIX
								<LSIO_GPIO4_IO19 0x104>, //GPS_PPS
								<LSIO_GPIO4_IO22 0x104>, //GPS_EN
								<LSIO_GPIO4_IO20 0x104>, //SENSOR_STRAIN_RST
								<LSIO_GPIO0_IO09 0x104>, //USER_BUTTON_0
								<LSIO_GPIO4_IO21 0x104>, //SENSOR_IMU_RST
								<LSIO_GPIO0_IO12 0x104>, //HEATSINK_FAN_CTRL
								<LSIO_GPIO0_IO13 0x104>; //SAFE_STATE_TRIGGER
								//<DMA_I2C2_SCL 0x104>, //SENSOR_I2C1_SCL
								//<DMA_I2C2_SDA 0x104>, //SENSOR_I2C1_SDA
								//<DMA_I2C3_SCL 0x104>, //SENSOR_I2C3_SDA
								//<DMA_I2C3_SDA 0x104>, //SENSOR_I2C3_SCL
								//<LSIO_GPIO2_IO09 0x104>, //MMC1_CD#
								//<CONN_USDHC1_CLK 0x104>, //MMC1_CLK
								//<CONN_USDHC1_CMD 0x104>, //MMC1_CMD
								//<CONN_USDHC1_DATA0 0x104>, //MMC1_D0
								//<CONN_USDHC1_DATA1 0x104>, //MMC1_D1
								//<CONN_USDHC1_DATA2 0x104>, //MMC1_D2
								//<CONN_USDHC1_DATA3 0x104>, //MMC1_D3
								//<M40_TPM0_CH0 0x104>, //VFM_MOTOR_PWM
								//<LSIO_PWM2_OUT 0x104>, //LIGHTS_DRL_CTRL
								//<LSIO_PWM3_OUT 0x104>, //LIGHTS_LEFT_IND_CTRL
								//<LSIO_PWM0_OUT 0x104>, //LIGHTS_RIGHT_IND_CTRL
								//<LSIO_PWM1_OUT 0x104>, //LIGHTS_BRAKE_CTRL
								//<DMA_SPI0_CS0 0x104>, //STEERING_CS_GPIO
								//<DMA_SPI0_CS1 0x104>, //STEERING_CS_DISP
								//<DMA_SPI0_SDI 0x104>, //STEERING_SPI1_MISO
								//<DMA_SPI0_SDO 0x104>, //STEERING_SPI1_MOSI
								//<DMA_SPI0_SCK 0x104>, //STEERING_SPI1_CLK
								//<DMA_SPI2_CS0 0x104>, //ADC_CS
								//<DMA_SPI2_CS1 0x104>, //LV_PSM_CS
								//<DMA_SPI2_SDI 0x104>, //PSM_ADC_SPI2_MISO
								//<DMA_SPI2_SDO 0x104>, //PSM_ADC_SPI2_MOSI_PREBUF
								//<DMA_SPI2_SCK 0x104>, //PSM_ADC_SPI2_SCLK_PREBUF
								//<DMA_SPI3_CS0 0x104>, //BMS_CS
								//<DMA_SPI3_SDI 0x104>, //BMS_MOTOR_SPI4_MISO
								//<DMA_SPI3_SDO 0x104>, //BMS_MOTOR_SPI4_MOSI_PREBUF
								//<DMA_SPI3_SCK 0x104>, //BMS_MOTOR_SPI4_SCLK_PREBUF
								//<DMA_UART3_RX 0x104>, //SENSOR_UART2_TX
								//<DMA_UART3_TX 0x104>, //SENSOR_UART2_RX
								//<DMA_UART0_RX 0x104>, //DEBUG_UART3_RX
								//<DMA_UART0_TX 0x104>, //DEBUG_UART3_TX
								//<DMA_UART2_RX 0x104>, //RADIO_UART4_TX
								//<DMA_UART2_TX 0x104>; //RADIO_UART4_RX



					// ORIGINAL THINGS
						/*
                            <IMX8QM_ESAI0_TX0_LSIO_GPIO2_IO26 0x104>,
                            <IMX8QM_USDHC2_DATA2_LSIO_GPIO5_IO28 0x104>,
                            <IMX8QM_USDHC2_DATA3_LSIO_GPIO5_IO29 0x104>,

                            <IMX8QM_LVDS1_I2C1_SDA_LSIO_GPIO1_IO15 0x104>,
                            <IMX8QM_ENET1_MDIO_LSIO_GPIO4_IO17 0x104>,
                            <IMX8QM_ADC_IN5_LSIO_GPIO3_IO23 0x104>,
                            <IMX8QM_ADC_IN6_LSIO_GPIO3_IO24 0x104>,
                            <IMX8QM_ADC_IN7_LSIO_GPIO3_IO25 0x104>,
                            <IMX8QM_SPI0_CS0_LSIO_GPIO3_IO05 0x104>,
                            <IMX8QM_ESAI0_TX4_RX1_LSIO_GPIO2_IO30 0x104>,
                            <IMX8QM_ESAI0_TX5_RX0_LSIO_GPIO2_IO31 0x104>,

                            // Misc Module
                            <IMX8QM_GPT0_COMPARE_LSIO_GPIO0_IO16 0x104>, // left indicator
                            <IMX8QM_UART0_RTS_B_LSIO_GPIO0_IO22 0x104>, // right indictor
                            <IMX8QM_UART0_CTS_B_LSIO_GPIO0_IO23 0x104>, // brake light
                            <IMX8QM_GPT1_COMPARE_LSIO_GPIO0_IO19 0x104>, // DRL
                            <IMX8QM_ENET1_RGMII_TXD3_LSIO_GPIO6_IO15 0x104>, // Horn
                            <IMX8QM_ESAI1_SCKT_LSIO_GPIO2_IO07 0x104>, // Driver Fan
                            <IMX8QM_ENET1_REFCLK_125M_25M_LSIO_GPIO4_IO16 0x104>, // Backup camera

                            // Relay Module
                            <IMX8QM_ENET1_RGMII_RXD0_LSIO_GPIO6_IO18 0x104>,// Array High Side Relay
                            <IMX8QM_ENET1_RGMII_TXD2_LSIO_GPIO6_IO14 0x104>, // Array Low Side Relay
                            <IMX8QM_ENET1_RGMII_TXD1_LSIO_GPIO6_IO13 0x104>,// Array Precharge Relay
                            
                            // Battery Relays
                            <IMX8QM_MLB_SIG_LSIO_GPIO3_IO26 0x104>,// Battery High Side Relay
                            <IMX8QM_FLEXCAN2_TX_LSIO_GPIO4_IO02 0x104>, // Battery Low Side Relay
                            <IMX8QM_MLB_DATA_LSIO_GPIO3_IO28 0x104>, // Battery Precharge Relay

                            //<>,// Intake Fan
                            //<>,// Vent Fan

                            <IMX8QM_ENET1_MDC_LSIO_GPIO4_IO18 0x104>, // Safe state trigger
                            <IMX8QM_LVDS0_GPIO00_LSIO_GPIO1_IO04 0x104>, // 12V_Source_Asc_Switch
                            <IMX8QM_MIPI_DSI1_GPIO0_00_LSIO_GPIO1_IO22 0x104>, // MPPT_ON
                            <IMX8QM_QSPI1A_DQS_LSIO_GPIO4_IO22 0x104>, // BMS_COMMS_STATUS_LED

                            <IMX8QM_USDHC2_CMD_LSIO_GPIO5_IO25 0x104>, // Spare 0
                            <IMX8QM_FLEXCAN1_TX_LSIO_GPIO4_IO00 0x104>, // Spare 2

                            <IMX8QM_USB_SS3_TC3_LSIO_GPIO4_IO06 0x104>, // LED0
                            
                            // For INA229 ADCs
                            <IMX8QM_USDHC1_DATA5_LSIO_GPIO5_IO20 0x104>, // Array CS
                            <IMX8QM_USDHC1_DATA6_LSIO_GPIO5_IO21 0x104>, // Battery CS
                            <IMX8QM_USDHC1_DATA4_LSIO_GPIO5_IO19 0x104>, // Motor CS
                            <IMX8QM_USDHC1_DATA7_LSIO_GPIO5_IO22 0x104>; // PSM CS
                		*/
				};

		pinctrl_bssr_lpspi0: bssrlpspi0grp {
			fsl,pins = <
				IMX8QM_SPI0_SCK_DMA_SPI0_SCK		0x0600004c
				IMX8QM_SPI0_SDO_DMA_SPI0_SDO		0x0600004c
				IMX8QM_SPI0_SDI_DMA_SPI0_SDI    	0x0600004c
			>;
		};

		// For motor pots
		pinctrl_bssr_lpspi3: bssrlpspi3grp {
			fsl,pins = <
				IMX8QM_UART1_TX_DMA_SPI3_SCK		0x0600004c
				IMX8QM_UART1_RX_DMA_SPI3_SDO		0x0600004c
				IMX8QM_UART1_RTS_B_DMA_SPI3_SDI		0x0600004c
			>;
		};

		pinctrl_bssr_uart: bssruartgrp {
			fsl,pins = 
				<IMX8QM_LVDS0_I2C1_SCL_DMA_UART2_TX 0x104>, // Radio Tx
				<IMX8QM_LVDS0_I2C1_SDA_DMA_UART2_RX 0x104>; // Radio Rx
		};
        };
};

/delete-node/ &pinctrl_lpspi0;

&lpspi0 {
	pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_bssr_lpspi0>;
    #address-cells = <1>;
    #size-cells = <0>;
	/delete-property/ cs-gpios;

        spidev0: spi@0 {
                compatible = "toradex,evalspi";
                reg = <0>;
                spi-max-frequency = <4000000>;
        };
};

&lpuart1 {
	status = "disabled";
};

&lpspi3 {
	status = "okay";
	pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_bssr_lpspi3>;
    #address-cells = <1>;
    #size-cells = <0>;
	/delete-property/ cs-gpios;

        motorspidev: motorspi@0 {
                compatible = "linux,spidev";
                reg = <0>;
                spi-max-frequency = <4000000>;
        };
};

&lpuart2 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_bssr_uart>;
};
